{% extends 'layout/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/basket.css' %}"> {% endblock %}

{% block content %}
<div class="container">

    {% if baskets %}
    <h2>Корзина</h2>
    <h2>Всего товаров:{{ basket.total_quantity }}</h2>
    {% for basket in baskets %}
    <div class="row">
        <div class="col-sm-6 col-md-5">
            <div class="thumbnail">
                <img src="{{ basket.product.image.url }}" style="width: 200px;" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-5">
            <div class="thumbnail">
                <div class="caption">
                    <h3>{{ basket.product.name }}</h3>
                    <p>{{ basket.product.description }}</p>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="{% url 'remove_product' basket.product.id %}">-</a></li>
                            <li class="page-link">{{ basket.quantity }}</li>
                            <li class="page-item"><a class="page-link" href="{% url 'add_product' basket.product.id %}">+</a></li>
                        </ul>
                    </nav>
                    <div class="col-lg-4">
                        <p>Сумма руб.</p>
                    </div>
                    <p>
                        <a class="btn btn-primary btn-buy" href="{% url 'delete_basket' basket.id %}">Удалить</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="line" style="
       border-bottom: 1px solid rgb(240, 237, 237);"></div>
    <p class="float-left">Итого</p>
    <h4 class="float-right">Общая сумма руб: {{ basket.total_sum }}</h4>
    {% else %}
    <h2>Корзина пуста</h2>
    {% endif %}
</div>

{% endblock %}