{% extends 'layout/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/categories.css' %}">
<link rel="stylesheet" href="{% static 'css/main1.css' %}">
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        {% for category in categories %}
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="image">
                    <img src="{{ category.image.url }}">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ category.name }}</h5>
                    <a href="{% url 'products' category.id %}" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
<a href="{% url 'index' %}" class="btn btn-primary active" aria-current="page">На главную</a>

{% if is_paginated %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="{% if page_obj.has_previous %}
        ?category_id={{ category.id }}&page={{ page_obj.previous_page_number }}
          # {% endif %}">
                Предыдущая
            </a>
        </li>
        {% for page in paginator.page_range %}
        <li class="page-item">
            <a class="page-link" href="
                ?category_id={{ category.id }}&page={{ page }}">
                {{ page }}
            </a>
        </li>
        {% endfor %}
        <li class="page-item">
            <a class="page-link" href="{% if page_obj.has_next %}
            ?category_id={{ category.id }}&page={{ page_obj.next_page_number }}
            {% else %}
               # {% endif %}">Следующая</a>
        </li>
    </ul>
</nav>
{% endif %}
</div>
{% endblock %}