{% extends 'layout/base.html' %}
{% load static %}
{% block css %} <link rel="stylesheet" href="{% static 'css/main1.css' %}"> {% endblock %}
{% block content %}
<div class="container">
    <div class="box">
        <div>
            <h1>Edelstein</h1>
            <h2><p>Огромный выбор драгоценных камней</p>
            <p>Доставка по всему миру!</p>
            <a href="{% url 'categories' %}" class="btn btn-primary active" aria-current="page">В каталог</a></h2>
        </div>
    </div>
</div>
{% endblock %}
