{% extends 'layout/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">{% endblock %}
{% block content %}
<div class="container">
    <form action="{% url 'profile' user.id%}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="header">
                    <h1>Персональные данные</h1>
                </div>
                <div class="avatar">
                    <img width="100" height="100"
                         src="{% if user.image %} {{ user.image.url }} {% else %} {% static 'img/avatar.PNG' %} {% endif %}"
                         class="img-thumbnail"> <br>
                </div>
                <div>
                    <label for="form.first_name.id_for_label" class="form-label">Имя</label>
                    {{ form.first_name }}
                </div>
                <div>
                    <label for="form.username.id_for_label" class="form-label">Логин</label>
                    {{ form.username }}

                </div>

                <div>
                    <label for="form.last_name.id_for_label" class="form-label">Фамилия</label>
                    {{ form.last_name }}
                </div>

                <div><label for="{{ form.image.id_for_label }}" class="form-label">Изображение профиля</label></div>
                <div class="form-file mb-3">
                    {{ form.image }}
                    <label class="form-file-label" for="validationFormFile">
                        <span class="form-file-text">Выберите файл...</span>
                        <span class="form-file-button">Browse</span>
                    </label>
                </div>
                <div>
                    <label for="form.email.id_for_label" class="form-label">Адрес электронной почты</label>
                    {{ form.email }}
                </div>
                <div class="flex-container">
                    <button type="submit" class="btn btn-dark">Сохранить</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}