.card {

    width: 400px;
    height: 410px;
}

.card-header {
    display: flex;
    height: 100px;
    background-color: rgb(238, 234, 230);
    justify-content: center;
    align-items: center;

    font-size: 30px;
}

.auth {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.card_footer {
    text-align: center;

}
.container {
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
}
body {
    background-color: rgb(247, 244, 241);
}

nav {
    margin-bottom: 340px;
}