body {
    background: url("../img/bg4.webp") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.box {
display: flex;
justify-content: center;
align-items: center;
}
